.DS_Store
*.sw*
.ipynb_checkpoints
compile_commands.json
.vscode
__pycache__
sandbox.ipynb
logs
*.so
*png
_*/
*npy
.polyscope.ini
*.npz
*.egg-info
build
imgui.ini

**/configs/**
**/archived/**
*~
wandb/
